<div class="card" style="padding: 0px !important; display: block !important; min-height: 80px !important; margin-bottom:10px !important;">
    <a href="{{ detail_url }}" class="card__link">
        <img src="{{ item.poster }}" alt="{{ item.titulo }} Poster" class="card__image" loading="lazy">
        <div class="card__content">
            <h3 class="card__title">{{ item.titulo }}</h3>
            <p class="card__year">Año: {{ item.anio }}</p>
            {% if item.calificacion %}
            <p class="card__rating">Rating: {{ item.calificacion }}/10</p>
            {% endif %}
        </div>
    </a>
</div>